<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <mode>debug</mode>

    <listen_ip>0.0.0.0</listen_ip>
    <listen_port>2333</listen_port>
    <is_https>false</is_https>
    <cert_file>./cert.pem</cert_file>
    <key_file>./key.pem</key_file>
    <mysql_ip>192.168.95.233</mysql_ip>
    <mysql_port>3306</mysql_port>
    <mysql_user>root</mysql_user>
    <mysql_password>root</mysql_password>
    <mysql_db>fiveTten</mysql_db>
    <server_list_xml_file>./server_list.xml</server_list_xml_file>
    <log_file>./recharge.log</log_file>

    <hj_secret_key>111</hj_secret_key>
    <gaea_secret_key>222</gaea_secret_key>
</config>
