<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <db_ip>0.0.0.0</db_ip>
    <db_port>3306</db_port>
    <db_acc>root</db_acc>
    <db_pwd>123456</db_pwd>
    <db_name>zbnotice</db_name>
    <zone_id>1</zone_id>
    <listen_addr>:14875</listen_addr>
    <https_addr>:14874</https_addr>
    <cert_file>./cert.pem</cert_file>
    <key_file>./key.pem</key_file>
    <refresh_time>10</refresh_time>
    <log_path>./notice.log</log_path>
</config>
